<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MOCHA</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
        .w3-sidenav a {padding:20px}
    </style>
</head>
<body>

    <div class="w3-top">
        <div class="w3-white w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">
            <div class="w3-opennav w3-left w3-hover-text-grey" onclick="w3_open()">☰</div>
            <div class="w3-right">Mail</div>
            <div class="w3-center">My Favourite Movies</div>
        </div>
    </div>
    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
        <!-- 1ST ROW -->
        <div class="w3-row-padding ">
            <div class="w3-quarter">
                <img src="../static/filmpicture/11.jpg" alt="" style="width:100%">
                <h3>Furious 7</h3>
                <p>Deckard Shaw seeks revenge against Dominic Toretto and his family for his comatose brother.</p>
            </div>


            <div class="w3-quarter">
                <img src="../static/filmpicture/12.jpg" alt="" style="width:100%">
                <h3>The Revenant</h3>
                <p>In the 1820s, a frontiersman, Hugh Glass, sets out on a path of vengeance against those who left him for dead after a bear mauling.</p>
            </div>

            <div class="w3-quarter">
                <img src="../static/filmpicture/13.jpg" alt="" style="width:100%">
                <h3>The Martian</h3>
                <p>During a manned mission to Mars, Astronaut Mark Watney is presumed dead after a fierce storm and left behind by his crew. But Watney has survived and finds himself stranded and alone on the hostile planet. With…</p>
            </div>

            <div class="w3-quarter">
                <img src="../static/filmpicture/14.jpg" alt="" style="width:100%">
                <h3>Tomorrowland</h3>
                <p>Bound by a shared destiny, a bright, optimistic teen bursting with scientific curiosity and a former boy-genius inventor jaded by disillusionment embark on a danger-filled mission to unearth the secrets of an enigmatic…</p>
            </div>
        </div>
        <!-- 2ND ROW -->
        <div class="w3-row-padding ">
            <div class="w3-quarter">
                <img src="../static/filmpicture/21.jpg" alt="" style="width:100%">
                <h3>The Hunger Games: Mockingjay - Part 2</h3>
                <p>With the nation of Panem in a full scale war, Katniss confronts President Snow in the final showdown. Teamed with a group of her closest friends – including Gale, Finnick, and Peeta – Katniss goes off on a mission…</p>
            </div>


            <div class="w3-quarter">
                <img src="../static/filmpicture/22.jpg" alt="" style="width:100%">
                <h3>Ant-Man</h3>
                <p>Armed with the astonishing ability to shrink in scale but increase in strength, con-man Scott Lang must embrace his inner-hero and help his mentor, Dr. Hank Pym, protect the secret behind his spectacular Ant-Man…</p>
            </div>

            <div class="w3-quarter">
                <img src="../static/filmpicture/23.jpg" alt="" style="width:100%">
                <h3>Knock Knock</h3>
                <p>When a devoted husband and father is left home alone for the weekend, two stranded young women unexpectedly knock on his door for help. What starts out as a kind gesture results in a dangerous seduction and a deadly…</p>
            </div>

            <div class="w3-quarter">
                <img src="../static/filmpicture/24.jpg" alt="" style="width:100%">
                <h3>Avengers: Age of Ultron</h3>
                <p>When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron…</p>
            </div>
        </div>
    </div>

      <!-- Pagination -->
    <div class="w3-center w3-padding-32">
        <ul class="w3-pagination">
            <li><a class="w3-black" href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
    <hr>
    <!-- About Section -->
    <div class="w3-container w3-padding-32 w3-center">
        <h3><b>About Me, MOCHA</b></h3><br>
        <img src="" alt="Me" class="w3-image" style="display:block;margin:auto" width="800" height="533">
        <div class="w3-padding-32">
            <h4><b>I am Who I Am!</b></h4>
            <h6><i>With Passion For Real, Good Food</i></h6>
            <p>Just me, myself and I, exploring the universe of unknownment. I have a heart of love and an interest of lorem ipsum and mauris neque quam blog. I want to share my world with you. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla. Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
        </div>
    </div>
    <hr>

  <!-- Footer -->
    <footer class="w3-row-padding w3-padding-32">
        <div class="w3-third">
            <h3>FOOTER</h3>
            <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
            <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
        </div>

        <div class="w3-third">
            <h3>BLOG POSTS</h3>
            <ul class="w3-ul w3-hoverable">
                <li class="w3-padding-16">
                    <img src="" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Lorem</span><br>
                    <span>Sed mattis nunc</span>
                </li>
                <li class="w3-padding-16">
                    <img src="" class="w3-left w3-margin-right" style="width:50px">
                    <span class="w3-large">Ipsum</span><br>
                    <span>Praes tinci sed</span>
                </li>
            </ul>
        </div>

        <div class="w3-third w3-serif">
            <h3>POPULAR TAGS</h3>
                <p>
                    <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">New York</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dinner</span>
                    <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Salmon</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">France</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Drinks</span>
                    <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Ideas</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Flavors</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Cuisine</span>
                    <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Chicken</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Dressing</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fried</span>
                    <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Fish</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Duck</span>
                </p>
        </div>
    </footer>

    <!-- End page content -->


</body>
</html>